.main_box{
  width: 100%;
  background-image: linear-gradient(to right,yellow , red);
  background-size: cover;
  padding-bottom: 40px;      
}
.main_box .menu{
  width: 100%;
  display: flex;
  justify-content: end;
} 
.menu ul li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-family: sans-serif;
  padding: 20px 20px;
} 
.menu ul li a{
  text-decoration: none;
  color: black;
}
.menu ul li a:hover{
  background-color:white;
}
.image_text{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image_text img{
  margin-top: 280px;
  width: 300px;
  height: 350px;
}
.image_text h2{
  margin-top: -300px; 
}
.center_img{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 200px;
} 
.song {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 400px;
 }
 .song .icon{
  width: 100%;
  display: flex;
  font-size: 30px;
}
.song .icon i{
  margin-left: 20px;
}
 .icon .open_icon{
  display: none;
} 
@media screen and (max-width:768px) {
  .main_box{
    width: 100%;
    padding-bottom: 70px;
    margin: 0;
  }
  .menu ul li{
    font-size: 10px;
    padding: 10px 5px;
  }
  .image_text img{
    margin-top: 0;
    position: fixed;
    top: 57px;
    left: 10px;
    height: 250px;
    width: 200px;
  }
  .image_text h2{
    margin-left: 200px;
    margin-top: 20px;
    font-size: 20px; 
  }
  .row_reverse{
    flex-direction: row-reverse;
  }
  .center_img{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .center_img img{
    height: 400px;
    margin-top: 27px;
  }
  .song .icon{
    margin-top: -280px;
    font-size: 18px;
    margin-left: 10px;
  }
  .song .icon i{
    margin-top: 50px;
    margin-left:-95px;
  }
  .song .icon p{
    margin-left: -30px;
    margin-top: 20px;
  }
}
 
